.roundedAccordion {
    border-radius: 10px; /* Ajuste este valor conforme necessário */
    background-color: aqua;
  }

.Accordions{
    background-color: aqua;
}

.AccordionVar{
    background-color: aqua;
}