

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}



.cs-main-container {
  border-radius: 10px;
  box-shadow: 0px 0px 20px 3px rgba(13, 7, 36, 0.876);

}

/* Estilos para a mensagem enviada pelo usuário (outgoing) */
.message.outgoing .body {
  background-color: #007bff; /* Cor de fundo da mensagem de saída (user) */
  color: white; /* Cor do texto da mensagem de saída (user) */
  align-self: flex-start;
 
}

/* Estilos para a mensagem recebida pelo bot (incoming) */
.message.incoming .body {
  background-color: #17a2b8; /* Cor de fundo da mensagem de entrada (bot) */
  color: white; /* Cor do texto da mensagem de entrada (bot) */
  align-self: flex-end;
  
}


.btnEnviar{
  
  justify-content: space-between;
  align-items: center; 
 
  
}





/* NavBar Styles */
header {
  background-color: #7159c1;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header svg {
  width: 15px;
  height: 25px;
  margin-top: 2px;
  margin-left: 5px;
  cursor: pointer;
  display: flex;
 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}





