.div-container-chat {
  /* background-color: rgba(128, 128, 128, 0.13); */
  background-color: #AFABFC;
  display: flex;
  width: 100%;
  height: 100vh; /* deixar assim*/
  padding: 12px;
  gap: 10px;
}

.react-chatbot-kit-user-chat-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-end;
  }
  
  .react-chatbot-kit-user-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 12.5px;
    background-color: #3d4e8d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-user-avatar-icon {
    fill: #fff;
    width: 15px;
    height: 15px;
  }
  
  .react-chatbot-kit-user-chat-message {
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #585858;
    font-weight: medium;
    position: relative;
    text-align: left;
  }
  
  .react-chatbot-kit-user-chat-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #f1f1f1;
    position: absolute;
    right: -7px;
    top: 13px;
  }
  
  .react-chatbot-kit-chat-bot-message-container {
    display: flex;
    margin: 15px 0;
    justify-content: flex-start;
  }
  
  .react-chatbot-kit-chat-bot-avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-right: 12.5px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-chatbot-kit-chat-bot-avatar-icon {
    fill: #494646;
    width: 22.5px;
    height: 22.5px;
  }
  
  .react-chatbot-kit-chat-bot-avatar-letter {
    color: #1d1d1d;
    margin: 0;
    padding: 0;
  }
  
  .react-chatbot-kit-chat-bot-message {
    background-color: #AFABFC;
    padding: 20px;
    border-radius: 24px;
    font-size: 1rem;
    color: black;
    font-weight: medium;
    position: relative;
    width: 100%;
    margin-left: auto;
    text-align: left;
    font-size: 18px;
    white-space: pre-line;
}

.react-chatbot-kit-chat-bot-message pre {
  border-radius: 10px;
}  

  .react-chatbot-kit-chat-bot-message-arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #AFABFC;
    position: absolute;
    left: -5px;
    top: 13px;
  }
  
  .react-chatbot-kit-chat-bot-loading-icon-container {
    height: 17px;
    width: 25px;
  }
  
  .chatbot-loader-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  #chatbot-loader #chatbot-loader-dot1 {
    animation: load 1s infinite;
  }
  
  #chatbot-loader #chatbot-loader-dot2 {
    animation: load 1s infinite;
    animation-delay: 0.2s;
  }
  
  #chatbot-loader #chatbot-loader-dot3 {
    animation: load 1s infinite;
    animation-delay: 0.4s;
  }
  
  @keyframes load {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .div-lateral-bar {
    background-color: #ffffff;
    border: 1px solid red;
    /* height: fit-content; */
    height: auto;
    width: 300px;
    min-width: 300px;
    padding: 12px;
    border-radius: 20px;
  }

  .div-lateral-bar .startbutton2 {
    align-content: center;
    align-items: center;
    background: linear-gradient(180deg,#CBC9F3 0%,var(--token-36bb6b2f-af10-4119-b447-780ada71a3a7, #5c7cff) 100%);
    border-radius: 66px;
    /* box-shadow: 0 0.7065919983928324px 0.7065919983928324px -0.625px #00000026, 0 1.8065619053231785px 1.8065619053231785px -1.25px #00000025, 0 3.6217592146567767px 3.6217592146567767px -1.875px #00000023, 0 6.8655999097303715px 6.8655999097303715px -2.5px #00000020, 0 13.646761411524492px 13.646761411524492px -3.125px #0000001b, 0 30px 30px -3.75px #0000000d; */
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 20px 30px;
    /* width: min-content; */
    z-index: 1;
    color: #FFFFFF;
  }

  .react-chatbot-kit-chat-container {
    position: relative; /* was relative */
    top: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  .react-chatbot-kit-chat-inner-container {
    width: 100%;
    /* height: 100vh; */
    /* height: auto; */
    /* height: 100%; */
    background-color: #fff;
    border-radius: 3px;
    border-radius: 5px;
    border-radius: 20px;
    border: 1px solid green;
  }
  
  .react-chatbot-kit-chat-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /* background-color: #efefef; */
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: #514f4f;
    padding: 12.5px;
    font-weight: bold;
  }
  
  .react-chatbot-kit-chat-input-container {
    background-color: white;
    padding-top:  7px;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 800px;
    display: none;
  }
  
  .react-chatbot-kit-chat-message-container {
    padding: 0 17.5px 10px 17.5px;
    overflow: scroll;
    height: min-content;
    max-height: 100%;
    overflow-x: hidden;
    
  }
  
  .react-chatbot-kit-chat-input {
    width: 700px;
    margin-left: -200px;
    padding: 12.5px;
    border: none;
    font-size: 0.95rem;
    border-top: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
    border: 1px solid gray;
  }

  .react-chatbot-kit-chat-input:hover {
    border: 1px solid rgb(3, 3, 117);
  }
  
  .react-chatbot-kit-chat-input-form {
    width: 700px;
    display: flex;
  }
  
  .react-chatbot-kit-chat-input::placeholder {
    color: #414040;
  }
  
  .react-chatbot-kit-chat-btn-send {
    background-color: #2898ec;
    margin-right: -65%;
    width: 110px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
  }

  .react-chatbot-kit-chat-btn-send:hover {
    background-color: rgb(3, 3, 117);
    color: #fff;
  }
  
  .react-chatbot-kit-chat-btn-send-icon {
    fill: #fff;
    width: 25px;
    margin: 0 auto;
  }
  
  .react-chatbot-kit-error {
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
  }
  
  .react-chatbot-kit-error-container {
    width: 260px;
  }
  
  .react-chatbot-kit-error-header {
    font-size: 1.3rem;
    color: #1d1d1d;
    margin-bottom: 30px;
  }
  
  .react-chatbot-kit-error-docs {
    display: block;
    margin: 25px auto;
    color: rgb(56, 104, 139);
    padding: 8px;
    border: 1px solid rgb(40, 152, 236);
    width: 130px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
  }
  
  