*{
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: relative;
    display: flex;
    /* box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px; */
    background-color: #161616;
    justify-content: space-between;
    align-items: center;    
    padding: 16px 32px;
    margin-bottom: 0;
}

.brand {
    font-size: 16px;
    margin-left: 80px;
    margin: 0;
    color: #ffffff;
    font-weight: 900;
}

/* .brand span {
    font-weight: 900;
    text-transform: uppercase;
} */

.navbar .links_list {
    text-align: center;
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    height: 50px;
    gap: 30px;
}

.navbar .links_list li {
    /* margin-right: 2em; */
    /* letter-spacing: -0.35px; */
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
}

.navbar .links_list li a {
    padding: .4em .6em;
    border-radius: 5px;
    font-weight: 500;
    color: #ffffff;
}

.navbar .links_list li a::before {
    content: "";
    position: absolute;
    bottom: 24px;
    width: 2%;
    height: 2px;
    background: #AFABFC; /* #333 ou #c300ff*/
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.navbar .links_list li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.navbar .links_list li a:hover{
    color: #AFABFC;
}

/* .navbar .links_list li a:hover::after,
.navbar .links_list li a.active::after {
    content: "";
    width: 10%;
    height: 2px;
    background: #820cf0;
    position: absolute;
    bottom: -4px;
    left: 20px;
} */

.links_list_right {
    color: white;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    display: flex;
    list-style: none;
    margin: 0;
    font-size: 14px;
}

.links_list_right li{
    border-radius: 8px;
    padding: 12px 16px;
    text-decoration: none; /* Remova a sublinhado do link */
    /*transition: background 0.3s;*/ /* Adicione uma transição suave para a mudança de cor de fundo */
}
.links_list_right .bottom_entrar a{
    font-weight: 500;
    color: #ffffff;
}
.links_list_right .bottom_cadastrar a{
    font-weight: 500;
    color: #272727;
}

.links_list_right .bottom_entrar {
    color: #ffffff;
    background-color: #222222;
}

.links_list_right .bottom_cadastrar {
    color: #161616;
    background-color: #AFABFC;
}

/* .links_list_right li a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.links_list_right li a:active {
    transform: scale(0.95);
} */

.container_name_user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_name_user span {
    overflow: hidden; 
    white-space: nowrap; 
}

.bottom_sair {
    background-color: #AFABFC; 
    color: #161616; 
    padding: 8px 15px; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    text-decoration: none;  
}

.active {
    color: #c300ff;

}

.mobile {
    display: none;
}

.mobile i{
    color: #1a1a1a;
}

@media screen and (max-width: 1024px) {
    /* .navbar {
        margin: 0;
        width: 100%;
    } */
}

@media screen and (max-width: 768px) {

    .navbar {
        height: 10vh;
        max-height: 10vh;
    }

    .navbar .brand {
        margin: 0 10px;
    }

    .navbar .links_list {
        gap: 12px
    }

    .navbar .links_list li{
        margin-right: 0;
        font-size: 0.9em;
    }

    .navbar .links_list_right{
        margin-right: 0;
    }

    .navbar .links_list_right li{
        font-size: 0.9rem;
    }

    .navbar .links_list_right li a{
        padding: 12px 18px;
        font-weight: 500;
    }

    .brand {
        font-size: 1em;
    }
    
    .brand span {
        font-weight: 900;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 531px) { /* 425pxpx */
    .navbar {
        padding: 1.5em;
    }

    .navbar .links_list{
        text-align:start;
        display: block;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 85px;
        right: -300px; /* controla se ve ou não a navbar do mobile */
        width: 300px;
        height: 100vh;
        background-color: #f8fcfc; /* #9e53ff */
        font-size: 1.2em;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 50px 0 0 25px;
        z-index: 10;
        transition: 0.3s ease-in-out;
    }

    .links_list.active a{
        letter-spacing: 0.2em;
    }
    
    .links_list.active{
        right: 0px;
    }

    /* .links_list.active li{
        color: #c300ff;
    } */

    .links_list.active li a{
        padding: 12px 12px;
        /* color: rgb(255, 255, 255); */
        color: black;
    }
    
    .links_list.active li a:hover{
        /* border: 1px solid #fff; */
        box-shadow: 0px 0px 25px -7px #a119f0;
        background: linear-gradient(45deg, #820cf0 0%, #cc19f0  80%, #860fd6  500%);
        border-radius: 12px;
        color: white;
    }

    .navbar .links_list li {
        margin-bottom: 35px;
    }

    .navbar .links_list_right li {
        margin-bottom: 25px;
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}