.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;    
    padding: .5em 2em;
    margin-bottom: 0;
}

.brand {
    font-size: 1.5em;
    margin-left: 80px;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.links_list {
    display: flex;
    list-style: none;
}

.links_list {
    margin-right: 1em;
}

.links_list li a {
    padding: .4em .6em;
    border-radius: 5px;
}

.links_list_right {
    display: flex;
    list-style: none;
    margin-right: 3em;
    font-size: 18px;
    font-weight: 500;
}

.links_list_right li a {
    padding: .8em .8em;
    margin: 5px;
    border-radius: 15px;
    background: linear-gradient(to right, #F0F0F0, #E0E0E0);
    color: #333; /* Defina a cor do texto como branco para contrastar com o gradiente */
    text-decoration: none; /* Remova a sublinhado do link */
    transition: background 0.3s; /* Adicione uma transição suave para a mudança de cor de fundo */
}

.links_list_right li a:hover {
    background: linear-gradient(to right, #E0E0E0, #D0D0D0);
}

.active {
    background-color: black;
    color: white;
}

@media screen and (max-width: 1024px) {
    /* .navbar {
        margin: 0;
        width: 100%;
    } */
}

@media screen and (max-width: 768px) {

    .links_list_right {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 425px) {
    .navbar {
        padding: 1em 1em;
    }

    .navbar a {
        margin: 0;
        font-size: 1.3em;
    }

    .navbar .links_list {
        display: none;
    }

    .navbar .links_list_right {
        display: none;
    }

    .one, .two, .three {
        background-color: #202020;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu_toggle {
        width: 40px;
        height: 30px;
        margin-right: 40px;
    }

    /*Fullscreen*/
    .menu_toggle_on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_toggle_on .links_list, .links_list_right {
        display: block;
    }

    .menu_toggle_on .menu_toggle {
        position: absolute;
        right: 0;
        top: 15px;
    }

    /*Start Animation Menu*/
    .menu_toggle_on .menu_toggle .one {
        -webkit-transform: rotate(45deg) translate(7px, 7px);
       
    }

    .menu_toggle_on .menu_toggle .two {
        opacity: 0;
    }
    
    .menu_toggle_on .menu_toggle .three {
        transform: rotate(-45deg) translate(8px, -9px); 
    }
    /*End Animation Menu*/    

    .menu_toggle_on ul {
        text-align: center;
        display: block;
    }

    .menu_toggle_on ul li {
        transition-duration: 0.5s; 
        /*mudar cor do texto*/
        font-size: 1.5rem;
        line-height: 6rem;
        display: block;
    }

}