*{
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;    
    padding: .5em 2em;
    margin-bottom: 0;
}

.brand {
    font-size: 1.5em;
    margin-left: 80px;
    margin: 0;
}

.brand span {
    font-weight: 900;
    text-transform: uppercase;
}

.navbar .links_list {
    display: flex;
    list-style: none;
}

.navbar .links_list {
    margin-right: 1em;
}

.navbar .links_list li a {
    padding: .4em .6em;
    border-radius: 5px;
}

.links_list_right {
    display: flex;
    list-style: none;
    margin-right: 3em;
    font-size: 18px;
    font-weight: 500;
}

.links_list_right li a {
    padding: .8em .8em;
    margin: 5px;
    border-radius: 15px;
    background: linear-gradient(to right, #F0F0F0, #E0E0E0);
    color: #333; /* Defina a cor do texto como branco para contrastar com o gradiente */
    text-decoration: none; /* Remova a sublinhado do link */
    transition: background 0.3s; /* Adicione uma transição suave para a mudança de cor de fundo */
}

.links_list_right li a:hover {
    background: linear-gradient(to right, #E0E0E0, #D0D0D0);
}

.active {
    background-color: black;
    color: white;
}

.mobile {
    display: none;
}

.mobile i{
    color: #1a1a1a;
}

@media screen and (max-width: 1024px) {
    /* .navbar {
        margin: 0;
        width: 100%;
    } */
}

@media screen and (max-width: 768px) {

    .links_list_right {
        font-size: 0.8em;
    }

    .brand {
        font-size: 1em;

    }
    
    .brand span {
        font-weight: 900;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 531px) { /* 425pxpx */
    .navbar {
        padding: 1.5em;
    }

    .navbar .links_list{
        display: block;
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 77px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #9e53ff;
        font-size: 1.2em;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 50px 0 0 25px;
        z-index: 10;
    }

    .navbar.active{
        right: 0;
    }
    
    .navbar .links_list li {
        margin-bottom: 35px;
    }

    .navbar .links_list_right li {
        margin-bottom: 25px;
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}