/* Researchers.module.css */

.container {
    text-align: center;
    padding: 20px;
  }
  
  .researcherContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
   
  }
  
  .researcher {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0b9;
    border-radius: 15px;
    padding: 20px;
    flex: 1;
    min-width: 300px;
    margin-top: 35px;

  }
  
  .researcherNameAndPic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .researcherName {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .researcherDescription {
    flex: 1;
  }
  
  /* Additional styling for responsiveness */
  @media (max-width: 768px) {
    .researcher {
      min-width: unset;
    }
  }
  